@use '../abstracts' as *;
@use '../base/' as *;


.header-container {
  margin: 1.5rem 8rem 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1.5rem;
  border: 0.1px solid #1e2036;
  border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(3rem);
  top: 1rem;
  position: sticky;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;


    .logo {
      width: 1rem;
      margin-right: 0.6rem;
    }

    h1 {
      font-family: $primary-font;
      color: rgb(241, 245, 249);
      font-size: 1.4rem;
      font-weight: $tertiary-weight-700;
      letter-spacing: 0.22px;
      cursor: pointer;
    }
  }

  .github__icon {
    color: $global-white-color;
    font-size: 1.8rem;
    font-weight: $secondary-weight-600;
    line-height: 30px;
    padding-right: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: transform 0.5s ease;
    }

  }
}



// Mobile devices
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header-container {
    margin: 0;
    border-radius: 0;
    top: 0;
  }
}

// iPads, Tablets
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header-container {
    margin: 0;
    border-radius: 0;
    top: 0;

  }

}

// Small screens, laptops
@media only screen and (min-width: 769px) and (max-width: 1024px) {}

// Desktops, large screens
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

// Extra large screens, TV
@media only screen and (min-width: 1201px) {}