@use '../abstracts' as *;
@use '../base' as *;

/* Projects Section Styles */
#projects {
  
  position: relative;
  overflow: hidden;
}

#projects::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Removed background */
  z-index: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2.5rem;
  margin-top: 4rem;
}


