//resets normalizes default styles provided by web browsers
@import url('@fortawesome/fontawesome-free/css/all.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // width: 100vw;
  text-decoration: none;
  background: transparent;
}


body {
  background: #02041d;
  color: #FFF;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

}
