// All these imports are sent directly to our website


//Website Pages 
@use "pages/home";

//Components
@use "components/header";
@use "components/footer";
@use "components/buttons";
@use "components/banner";
@use "components/professionalSummary";
@use "components/experience";
@use "components/projects";
@use "components/skillset";
@use "components/testimony";
@use "components/contact";
@use "components/projectCard";
@use "components/profileCard";

.main-content-wrapper {
  padding-top: 10rem;
}

[data-theme="light"] {
  body {
    background-color: #f0f2f5;
    color: #333;
  }

  .section-header .subheader {
    color: #555;
  }

  .section-header .header {
    color: #000;
  }

  .section-header .description {
    color: #555;
  }

  .experience-card,
  .testimonial-card,
  .profile-card-container {
    background-color: #fff;
    border: 1px solid #ddd;
  }
}